<body>
  <main>
    <ul>
      <% boardingData.forEach(location=>{%>
      <li class="" data-id="<%= location.id %>">
        <h4><%= location.city_name %> </h4>

        <img src="<%= location.image_url %>">

        <form action="/deleteBoarding/<%=location.id%>?_method=DELETE" method="POST">

          <button type="submit">REMOVE THIS LOCATION</button>
        </form>

        <form action="/move/<%=location.id%>?_method=PUT" method="POST">
          <button type="submit">MOVE TO STAMPED</button>
        </form>
      </li>

      <%})%>

    </ul>
  </main>
</body>