<body>
  <main>
    <ul>
      <% boardingData.forEach(location=>{%>
      <li class="" data-id="<%= location.id %>">
        <form action="/getSavedBoarding" method="GET">
          <input type="hidden" name="id" value="<%=location.id %>"><br>
          <input type="submit" value="<%= location.city_name %>">
        </form>

        <img src="<%= location.special %>">

        <form action="/deleteBoarding/<%=location.id%>?_method=DELETE" method="POST">

          <button type="submit">REMOVE THIS LOCATION</button>
        </form>

        <form action="/move/<%=location.id%>?_method=PUT" method="POST">
          <button type="submit">MOVE TO STAMPED</button>
        </form>
      </li>

      <%})%>

    </ul>
  </main>
</body>