<!DOCTYPE html>
<html>

<head>
  <%- include('../components/head.ejs') %>
</head>

<body class="stampedDetailsBody">

  <header>
    <div class="testH1">
      <h1 class="testHeader"><%= beyonce[0].city_name %></h1>
    </div>
    <nav>
      <a href="/">HOME</a>
    </nav>

  </header>

  <main>

    <div class="mainImage">
      <img class="firstImage" src="<%= beyonce[0].special %>" alt="">
    </div>

    <div class="detailsDesc">
      <h2><%= beyonce[0].city_description %></h2>
    </div>

    <div class="scroll">
      <img class="images" src="<%= beyonce[0].images0 %>" alt="">
      <img class="images" src="<%= beyonce[0].images1 %>" alt="">
      <img class="images" src="<%= beyonce[0].images2 %>" alt="">
      <img class="images" src="<%= beyonce[0].images3 %>" alt="">
      <img class="images" src="<%= beyonce[0].images4 %>" alt="">
      <img class="images" src="<%= beyonce[0].images5 %>" alt="">
      <img class="images" src="<%= beyonce[0].images6 %>" alt="">
      <img class="images" src="<%= beyonce[0].images7 %>" alt="">
      <img class="images" src="<%= beyonce[0].images8 %>" alt="">
    </div>

    <h3 class="journalStyle"><%=beyonce[0].journal%></h3>

    <!-- <legend>Notes</legend> -->

    <form class="noteForm" action="/addNotesStamped/<%=beyonce[0].id%>?_method=PUT" method="POST">

      <textarea name="journaldata" value="<%=beyonce[0].journal%>"
        placeholder="UPDATE THIS SECTION WITH YOUR HOPES, DESIRES AND DREAMS.... AND MAYBE A PACKING LIST!"></textarea>
      <button class="detBoardingBut" type="submit">UPDATE JOURNAL</button>
    </form>
  </main>

</body>

</html>