<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="" type="text/html">
</head>


<body>
  <main>
    <h1><%= render.name %></h1>
    <h2><%= render.description %></h2>
    <% render.photo.forEach(photo => { %>
    <img src="<%= photo.request.url %>" alt="">
    <% }) %>
  </main>

  <form action="/boarding_pass" method="POST">
    <input type="hidden" name="city_name" value="<%= render.name %>">
    <input type="hidden" name="city_description" value="<%= render.description %>">
    <input type="hidden" name="image_url" value="">
    <button type="submit">SAVE TO BOARDING PASS</button>
  </form>
  <form action="/stamped_pass" method="POST">
    <input type="hidden" name="city_name" value="<%= render.name %>">
    <input type="hidden" name="city_description" value="<%= render.description %>">
    <input type="hidden" name="image_url" value="">
    <button type="submit">SAVE TO STAMPED</button>
  </form>

  <!-- <form action="/userInput" method="method-override">
    <textarea type="text">
    <input type="checkbox">
  </form> -->


</body>

</html>