<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="" type="text/html">
</head>

<body>

  <main>
    <% let imageArray = [] %>
    <% render.photo.forEach(photo => { %>
    <% imageArray.push(photo.request.url) %>
    <% }) %>
    <% const special = imageArray[0] %>
    <img src="<%= imageArray[0] %>" alt="">

    <h1><%= render.name %></h1>
    <h2><%= render.description %></h2>

    <% imageArray.shift() %>
    <% imageArray.forEach(photo => { %>
    <img src="<%= photo %>" alt="">
    <% }) %>

  </main>
  <form action="/boarding_pass" method="POST">
    <input type="hidden" name="city_name" value="<%= render.name %>">
    <input type="hidden" name="city_description" value="<%= render.description %>">
    <input type="hidden" name="special" value="<%=special%>">
    <input type="hidden" name="images0" value="<%= imageArray[0]%>">
    <input type="hidden" name="images1" value="<%= imageArray[1]%>">
    <input type="hidden" name="images2" value="<%= imageArray[2]%>">
    <input type="hidden" name="images3" value="<%= imageArray[3]%>">
    <input type="hidden" name="images4" value="<%= imageArray[4]%>">
    <input type="hidden" name="images5" value="<%= imageArray[5]%>">
    <input type="hidden" name="images6" value="<%= imageArray[6]%>">
    <input type="hidden" name="images7" value="<%= imageArray[7]%>">
    <input type="hidden" name="images8" value="<%= imageArray[8]%>">
    <button type="submit">SAVE TO BOARDING PASS</button>
  </form>
  <form action="/stamped_pass" method="POST">
    <input type="hidden" name="city_name" value="<%= render.name %>">
    <input type="hidden" name="city_description" value="<%= render.description %>">
    <input type="hidden" name="special" value="<%= special%>">
    <input type="hidden" name="images0" value="<%= imageArray[0]%>">
    <input type="hidden" name="images1" value="<%= imageArray[1]%>">
    <input type="hidden" name="images2" value="<%= imageArray[2]%>">
    <input type="hidden" name="images3" value="<%= imageArray[3]%>">
    <input type="hidden" name="images4" value="<%= imageArray[4]%>">
    <input type="hidden" name="images5" value="<%= imageArray[5]%>">
    <input type="hidden" name="images6" value="<%= imageArray[6]%>">
    <input type="hidden" name="images7" value="<%= imageArray[7]%>">
    <input type="hidden" name="images8" value="<%= imageArray[8]%>">
    <button type="submit">SAVE TO STAMPED</button>
  </form>

  <!-- <form action="/userInput" method="method-override">
    <textarea type="text">
    <input type="checkbox">
  </form> -->


</body>

</html>