<body>
  <main>
    <ul>
      <% stampedData.forEach(location=>{%>
      <li class="" data-id="<%= location.id %>">
        <h4><%= location.city_name %> </h4>
        <p><%= location.city_description %> </p>
        <img src="<%= location.image_url %>">

        <form action="/delete/<%=location.id%>?_method=DELETE" method="POST">
          <button type="submit">REMOVE THIS LOCATION</button>
        </form>
        <%})%>

    </ul>
  </main>
</body>